# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
public/
.vscode/
.idea/
.vscode/

# due to using tox and pytest
.tox
.cache

# SSL Keys
SSLKeys/
*.crt
*.key
*.pem
certbot/
docker-compose.publish.*.yml